apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: {{ .Values.app.namespace }}
spec:
  selector:
    app: redis
  ports:
  - port: {{ .Values.redis.service.port }}
    targetPort: {{ .Values.redis.containerPort }}
    protocol: TCP
  type: ClusterIP