{{- if .Values.grafana.enabled }}
# ConfigMap to connect Grafana to Prometheus
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.namespace }}
  labels:
    app: grafana
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: {{ .Values.grafana.datasource.url }}
      isDefault: true
      editable: true
      jsonData:
        timeInterval: "{{ .Values.prometheus.scrapeInterval }}"
{{- end }}
