# MongoDB headless Service
apiVersion: v1
kind: Service
metadata:
  name: mongodb-headless-service
  namespace: {{ .Values.app.namespace }}
spec:
  clusterIP: None
  selector:
    app: mongodb
  ports:
    - port: 27017
---